<div class="row">
	<div class="large-12 columns">
<h1> Crear Cuenta </h1>

<%= form_for (@usuario) do |u| %>

	<h2> Ingresa tu e-mail como apodo, para recibir notificaciones</h2>
   <%= u.label :apodo %> 
   <%= u.text_field :apodo %>

   <%= u.label :password %>
   <%= u.password_field :password %>

   <%= u.submit 'Crear Usuario' %>

 <% end %>
</div>
</div>