<div class="row">
	<div class="large-12 columns">
<h1> Crear Cuenta </h1>

<%= form_for (@usuario) do |u| %>


   <%= u.label :apodo %> <h3> Ingresa tu e-mail, para recibir notificaciones</h3>
   <%= u.text_field :apodo %>

   <%= u.label :password %>
   <%= u.password_field :password %>

   <%= u.submit 'Crear Usuario' %>

 <% end %>
</div>
</div>